table, td, th{
    border:1px solid black;
    border-collapse: collapse;
}

.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.black{
    width: 100px;
    height: 100px;
    background-color: black;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
}
